.ava{
    width: 40px;
    display: block;
    border-radius: 50px;
    margin: 0 auto;
    border: 3px solid wheat;
}

.user{
    display: block;
    width: 50px;
    font-weight: regular;
    font-size: small;
}

a{
    line-height: 1rem;
}