*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app-wrapper{
  display: grid;
  width: 1200px;
  margin: 0 auto;
  grid-template-columns: 3fr 10fr;
  grid-template-rows: 1fr auto;
  grid-gap: 10px;
}

.section{
  display: grid;
  grid-column: 2/3;
  background: rgba(128, 128, 128, 0.4);
}